VITE_TMDB_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIxNmUyMTE3NGZiOTFjZjk2YjA0ZDU5NGM0MjcyNTY2NCIsIm5iZiI6MTc3NDc5NDYxNS4wOTUsInN1YiI6IjY5YzkzNzc3NGRmZWQyOTczNzBjZjViMiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.L3u9rEgRTjphWQDYcMDC8zMh_wL2UGKZbMYqV37S27c
# or
VITE_TMDB_API_KEY=16e21174fb91cf96b04d594c42725664
